*.pyc
*.pyo
*.class
*~
*.DS_Store
wine-py2exe/
py2exe.log
*.kate-swp
build/
dist/
MANIFEST
README.txt
picta-dl.1
picta-dl.bash-completion
picta-dl.fish
picta_dl/extractor/lazy_extractors.py
picta-dl
picta-dl.exe
picta-dl.tar.gz
.coverage
cover/
updates_key.pem
*.egg-info
*.srt
*.ttml
*.sbv
*.vtt
*.flv
*.mp4
*.m4a
*.m4v
*.mp3
*.3gp
*.wav
*.ape
*.mkv
*.swf
*.part
*.ytdl
*.swp
test/local_parameters.json
.tox
picta-dl.zsh

# IntelliJ related files
.idea
*.iml

tmp/
venv/
.env

*.spec

# VS Code related files
.vscode