body{
    padding: 0 15vw;
}

a{
    text-decoration: none;
}

a:hover{
    color: #00006b;
}

li{
    margin: 0 1rem;
    list-style-type: none;
    font-size: 1.5rem;
}

h1{
    font-size: 3rem;
    margin: 0;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1.2rem;
}

p{
    line-height: 1.2;
    font-size: 1.2rem;
}

/* navbar */
#title{
    color: black;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0;
}

#navbar-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.introduction{
    margin: 2rem 0;
}

#cta{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5rem 0;
}

.btn{
    padding: 1rem 2rem;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
  }

/* footer */
#footer{
    text-align: center;
    margin-top: 10rem;
}