html{
	position: relative;
	min-height: 100%;
}

body {
	font-family: sans-serif;
	margin: 0;
	margin-bottom: 3ex;
	background-color: #ffefdd;
	color: #292929;
	margin-left: 10vw;
	margin-right: 10vw;
}

.header h1 a {
	text-decoration: none;
	color: black;
}
.header {
	text-align: center;
	line-height: 1.5em;
}

.container {
	display: block;
	margin: 0 0 120px;
}
.terminal {
	margin-top: 25px;
	background-color: #2d2d2d;
	color: #5eff00;
	text-align: left;
	padding-bottom: 25px;
	line-height: 0.5em;
	padding-top: 1px;
	padding-left: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.download {
	text-align: center;
	max-width: 50%;
	margin-left: 25%;
	margin-bottom: 50px;
}

.note {
	position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  height: 85px;
  width: 100%;
  font-size: 12px;
	line-height: 0.5em;
  overflow: hidden;
}

.download-button {
	padding: 10px 20px;
	text-align: center;
	font-size: 20px;
	line-height: 15px;
	border-radius: 2px;
	text-decoration: none;
	color: white;
	border: 1px solid #7d7d7d;
}

.bottom-navbar {
	font-size: x-large;
	text-align: center;
	margin-top: 30px;
	line-height: 2em;
}

.bottom-navbar a{
	padding: 5px;
	text-decoration: none;
	color: #004687;
	border: 2px solid #004687;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 5px;
}

#g {
	background-color: #007bff;
	border-color: #007bff;
}
