# File selection
--playlist-start 1

# Download options
--retries 3
#--limit-rate nnn
#
# Filesystem options
#--batch-file files_here_of_urls
--output %(title)s.%(ext).s # The filename will hold the video title. And the extension at the end.
#--restrict-filenames # There will be no arabic song names
--no-overwrites # I may want to use this one in case I don't want to download the same files upon launching the script a second time.
--continue # Force to resume partially downloaded files. I say this is an experimental options and I want to check if the files I have downloaded are functional.
#--no-cache-dir

# Verbosity and simulation
# --quiet # because this is a script
#--simulate # won't download, but just show what will happen, I may want to use this option in the beginning in order to verify what youtube-dl would do. Could be used together with `-v`.
#--verbose # for verbosity, prints debugging information.
#--print-traffic # I think this is good information for debugging.
#--dump-pages

# Workarounds
#--sleep-interval 198 # Sleeping before attempting the next download.

# Video Format Options
#--format worst
# Authentication

# Post-processing options:
--add-metadata # Write all the metadata that could be gotten into the output file.
--no-post-overwrites # Do not overwrite post processed files (Keep audio files). This might save me time when I just need to update
-x # Convert videos to audio. If set it will not recognized already downloaded files, because they are converted in audio format, and so they will be overwritten when retrying after a failure. 
